fastapi
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[argon2]
python-multipart
openai
httpx
python-dotenv
pypdf
psycopg2-binary
email-validator
google-auth
requests
groq
cloudinary
pymongo
dnspython
